.header{
    position: relative;
    background: #333; /* Color de fondo */
    display: flex;
    padding: 20px 0px;
}
.button{
    padding: 10 7px;
    margin: 0 8px;
}
.searchBar{
    position: absolute; 
    right: 30px;
}
.filter{
    position: absolute;
    right: 10px;
    width: 300px;
}
.button_newGame{
    padding: 10 7px;
    top:0px
    
}
