
.formContainer {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    margin: 30px 150px;
    color: black;
  }

  .inputsContainer{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 100px;
    align-items: center;
    
  }
  .inputsContainer input{
    width: 300px;
  }
  .inputsContainer label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 
  }
  
  .inputLabel {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
  }
  .checkboxContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .submitButton {
    background-color: #929090;
    color: white;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .submitButton:disabled {
    background-color: rgba(38, 38, 38, 0.42);
    cursor: not-allowed;
  }