.main_detail {
    top:100px;
    left: 40px;
    right: 40px;
    position: absolute ;
    display: flex;
    background-color: #929090;
    align-items: center;
  }
  
  .img_detail {
        height: 300px;
        object-fit: cover;
        margin: 20px;
  }
  
  .info_detail {
    color: white;
    border-radius: 30%;
    margin-top: 20px; 
  }
  
  .info_detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .info_detail p {
    margin-bottom: 8px;
  }