.main_detail {
    top:100px;
    left: 40px;
    right: 40px;
    position: absolute ;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .img_detail {
        height: 300px;
        object-fit: cover;
        margin: 20px;
  }
  
  .info_detail {
    color: white;
    border-radius: 30%;
    margin-top: 20px; 
  }
  
  .info_detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .info_detail p {
    margin-bottom: 8px;
  }